<h1>details for {{itemName}}</h1>

<div class = "form">
<form method = "POST" action = "">

Date Added: {{dateAdded}}
</br></br>
Category: 
<select name = "category">
<option value="Option 1">{{option1}}</option>
<option value="Option 2">{{option2}}</option>
<option value="Option 3">{{option3}}</option>
<option value="Option 4">{{option4}}</option>
<option value="Option 5">{{option5}}</option>
<option value="Option 6">{{option6}}</option>
<option value="Option 7">{{option7}}</option>
</select>
</br></br>
Due Date: <input type = "date" name = "dueDate">
</br></br>
Description: <input type = "text" name = "description">
</br></br>
<input type = "submit" class = "button" value = "create">

</form>

<a href = "/../">< cancel</a>
</div>
